<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <title>Create a series - TooNavy4U</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/myStyle.css">
   <link rel="stylesheet" type="text/css" href="css/zwibbler.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

    <!--Zwibbler-->
    <script src="https://zwibbler.com/zwibbler-demo.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div id="header"></div>    
    <script>
        $(function(){ $("#header").load("Toolbar.html") });
    </script>
 
<br>

<div class="container">
    
<!--Create series section-->
    <h4>&gt;Create a New Series</h4>
    <div class="jumbotron bg-secondary">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-form-label" for="inputSeriesName">&gt;Series Name</label>
                        <input type="text" class="form-control" placeholder="Series Name" id="inputSeriesName" required>
                    </div>
                </div>
            </div>
            <zwibbler showToolbar="true"
                      z-controller="MyFunction">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="newComicInputFile">&gt;Upload Cover Image</label>
                        <input type="file" class="form-control-file" id="newComicInputFile" aria-describedby="fileHelp">
                        <button z-click="uploadImage()"> Insert Image </button>
                        <small id="fileHelp" class="form-text text-muted">.png, .jpg, .jpeg files are supported.</small>
                    </div>
                </div>

        <label for="drawCover">&gt;Draw Cover Image</label>



                <div z-canvas class="col-12 bg-light" style="height: 500px;" id="drawCover"> </div>

            <br>
            <div class="form-group">
                <label for="newComicDescription">&gt;Description</label>
                <textarea class="form-control" id="newComicDescription" rows="3"></textarea>
            </div>
                <div class="form-group">
                  <h6>&gt;Genres</h6>
                    <div class="row ml-3">
                      <div class="form-check col-4 col-lg-2">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Action" name="category" id="Action">Action
                        </label>                      
                      </div>
                      <div class="form-check col-4 col-lg-2">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Comedy" name="category" id="Comedy">Comedy
                        </label>                      
                      </div>
                      <div class="form-check col-4 col-lg-2">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Drama" name="category" id="Drama">Drama
                        </label>                      
                      </div>
                      <div class="form-check col-4 col-lg-2">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Political" name="category" id="Political">Political
                        </label>                      
                      </div>
                      <div class="form-check col-4 col-lg-2">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Romance" name="category" id="Romance">Romance
                        </label>                      
                      </div>
                      <!--TODO: finalize list of genres-->  
                    </div>
                </div>
                <div class="form-group">
                  <h6>&gt;Make Series Public?</h6>
                    <div class="row ml-3">
                        <div class="form-check col-12 col-md-4">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="makePublicRadios" id="makePublic" value="">
                              Yes, make it public.
                            </label>                        
                        </div>
                        <div class="form-check col-12 col-md-4">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="makePublicRadios" id="makePrivate" value="" checked>
                              No, keep it private.
                            </label>                        
                        </div>
                    </div>
                </div>
                
                
            <div class="row">
                <div class="col-12">
                    <a  href="/" class="btn-lg btn-danger">Cancel</a>
                    <button type = "button" z-click="createComic()" class="btn-lg btn-primary pull-right">Create</button>
                </div>
            </div>
            </zwibbler>
        <input id="emailId" type="hidden" name="email"  th:value="${userEmail}">
        <input id="editing" type="hidden" name="editing" th:value="${editing}">
        <input id="seriesId" type="hidden" name="seriesId" th:value="${editseries?.id}">
        <input id="seriesTitle" type="hidden" name="seriesTitle" th:value="${editseries?.title}">
        <input id="seriesDescription" type="hidden" name="seriesDescription" th:value="${editseries?.description}">
        <input id="seriesPublished" type="hidden" name="seriesPublished" th:value="${editseries?.published}">
        <input id="cover" type="hidden" name="cover" th:value="${cover}">
        <input th:each="categories,iterStat:${categories}" th:id="'categories'+${iterStat.index}"  name="categories" type="hidden" th:value="${categories}">



            <form id="createSeriesFormId" action="#" th:action="@{/createSeries}" th:object="${post}" method="post">
                <input id="id" type="hidden" name="id" th:field="*{series.id}">
                <input id="ownerId" type="hidden" name="owner"  th:field="*{series.owner}">
                <input id="titleId" type="hidden" name="title"  th:field="*{series.title}">
                <input id="descriptionId" type="hidden" name="description"  th:field="*{series.description}">
                <input id="imageId" type="hidden" name="image"  th:field="*{imageURL}">
                <input id="categoryId" type="hidden" name="categories"  th:field="*{categories}">
                <input id="published" type="hidden" name="published"  th:field="*{series.published}">
            </form>

    </div>
</div>

</body>
</html>
<script>
    var savedPng= [];
    var zwibblerContext;
    function MyFunction(ctx) {
        zwibblerContext=ctx;
        // ctx is actually a Zwibbler context, with functions
        // like getPageCount() and save() and useBrushTool(). But
        // you can extend it.

        // Add an additional function to call here.
        //var savedPng= [];
        ctx.createComic = function() {

            var email=document.getElementById("emailId").value;
            var seriesName=document.getElementById("inputSeriesName").value;
            var chapterName=document.getElementById("newComicDescription").value;
            var categoryElements=document.getElementsByName("category");
            var categories = [];
            var publish;
            for (var i = 0; i < categoryElements.length; i++) {
                if (categoryElements[i].checked) {
                    categories.push(categoryElements[i].value);
                }
            }
            if (document.getElementById("makePublic").checked) {
                publish = 1;
            } else if (document.getElementById("makePrivate").checked) {
                publish = 0;
            }


            //save drawing image
            ctx.setCurrentPage(0);
            savedPng.push(ctx.save("png"));
            //save upload image

            //upload to controller
            var editing=document.getElementById("editing").value;
            if (editing === "false") {
                document.getElementById("id").value = 0;
            }
            document.getElementById("ownerId").value=email;
            document.getElementById("titleId").value=seriesName;
            document.getElementById("descriptionId").value=chapterName;
            document.getElementById("imageId").value=savedPng;
            if (categories.length > 0) {
                document.getElementById("categoryId").value = categories;
            }
            document.getElementById("published").value=publish;
            document.getElementById("createSeriesFormId").submit();
        };
        ctx.uploadImage=function(){
            var imageupload=document.getElementById("newComicInputFile").files[0];
            var imageuploadurl= '';
            var reader=new FileReader();
            reader.readAsDataURL(imageupload);
            reader.onload=function(){
                imageuploadurl = this.result;
                console.log(imageuploadurl);
                ctx.beginTransaction();
                var nodeId = ctx.createNode("ImageNode", {
                    url:imageuploadurl});
                ctx.translateNode(nodeId, 100, 100);
                ctx.commitTransaction();
            }
        };

        ctx.loadSeries=function() {
            var editing=document.getElementById("editing").value;
            if (editing === "true") {
                var seriesId = document.getElementById("seriesId").value;
                var seriesTitle = document.getElementById("seriesTitle").value;
                var seriesDescription = document.getElementById("seriesDescription").value;
                var seriesPublished = document.getElementById("seriesPublished").value;
                var cover = document.getElementById("cover").value;
                var categories = document.getElementsByName("categories");
                document.getElementById("id").value = seriesId;
                document.getElementById("inputSeriesName").value = seriesTitle;
                document.getElementById("newComicDescription").value = seriesDescription;

                if (seriesPublished == 1) {
                    document.getElementById("makePublic").checked = true;
                } else if (seriesPublished == 0) {
                    document.getElementById("makePrivate").checked = true;
                }
                    ctx.insertPage(0);
                    ctx.setCurrentPage(0);
                    var imageuploadurls = cover;
                    console.log(imageuploadurls);
                    ctx.beginTransaction();
                    var nodeId = ctx.createNode("ImageNode", {
                        url: imageuploadurls
                    });
                    ctx.translateNode(nodeId, 100, 100);
                    ctx.commitTransaction();
                ctx.setCurrentPage(0);

                for (var i = 0; i < categories.length; i++) {
                    document.getElementById(categories[i].value).checked = true;
                }
            }
        };
    }







    window.onload = function () {
        zwibblerContext.loadSeries();
    }


</script>