<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <title>Create a Comic - TooNavy4U</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/myStyle.css">
   <link rel="stylesheet" type="text/css" href="css/zwibbler.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

    <!--Zwibbler-->
    <script src="https://zwibbler.com/zwibbler-demo.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <div id="header"></div>    
    <script>
        $(function(){ $("#header").load("Toolbar.html") });
    </script>
    <br>

<div class="container">
    <!--Create comic section; hide when creating series-->
    <h4>&gt;Create a New Comic</h4>
    <div class="jumbotron bg-secondary">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="col-form-label" for="inputTitle">&gt;Title</label>
                        <input type="text" class="form-control" placeholder="Title" id="inputTitle">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <label for="addAs">&gt;Add as a chapter to...</label>
                        <select class="form-control" id="addAs">
                            <option th:each="s: ${seriesRepo}" th:value="${s.id}" th:text="${s.title}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="form-group">
                        <label for="makePublicRadios">&gt;Make Comic Public?</label>
                        <div class="row ml-2">
                            <div class="form-check col-md-6">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="makePublicRadios" id="makePublic" value="">
                                    Yes, make it public.
                                </label>
                            </div>
                            <div class="form-check col-md-6">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="makePublicRadios" id="makePrivate" value="" checked>
                                    No, keep it private.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <zwibbler showToolbar="true"
                      z-controller="MyFunction">



                <div z-canvas class="col-12 bg-light" style="height: 500px;"> </div>

                <div class="pages">
                    <button title="Insert page" z-click="insertPage()"> Insert Page </button>
                    <button title="Delete page" z-click="deletePage()"> Delete Page </button>
                    <div z-for="mypage in getPageCount()">
                        <div z-page="mypage"
                             z-height="70"
                             class="page"
                             z-class="{selected: mypage==getCurrentPage()}"
                             z-click="setCurrentPage(mypage)"></div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <label for="newComicInputFile">&gt;Upload Image</label>
                    <input type="file" class="form-control-file" id="newComicInputFile" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">.png, .jpg, .jpeg files are supported.</small>
                    <button z-click="uploadImage()"> Insert Image </button>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a  href="/" class="btn-lg btn-danger">Cancel</a>
                        <button type = "button" z-click="createComic()" class="btn-lg btn-primary pull-right" th:text="${editing} ? 'Save' : 'Create'"></button>
                    </div>
                </div>


            </zwibbler>
    </div>
            <input id="emailId" type="hidden" name="email"  th:value="${userEmail}">
            <input id="editing" type="hidden" name="editing" th:value="${editing}">
            <input id="comicId" type="hidden" name="comicId" th:value="${editComic?.id}">
            <input id="comicTitle" type="hidden" name="comicTitle" th:value="${editComic?.title}">
            <input id="comicSeries" type="hidden" name="comicSeries" th:value="${editComic?.series}">
            <input id="comicPublished" type="hidden" name="comicPublished" th:value="${editComic?.published}">
            <input th:each="b,iterStat:${blobArray}" th:id="'blobArray'+${iterStat.index}" type="hidden" name="blobArray" th:value="${b}">
            <!--TODO Need to add "publish" button -->
            <form id="createSeriesFormId" action="#" th:action="@{/createComic}" th:object="${post}" method="post">
                <input id="id" type="hidden" name="id" th:field="*{comic.id}">
                <input id="ownerId" type="hidden" name="owner"  th:field="*{comic.owner}">
                <input id="titleId" type="hidden" name="title"  th:field="*{comic.title}">
                <input id="seriesId" type="hidden" name="series"  th:field="*{comic.series}">
                <input id="published" type="hidden" name="published" th:field="*{comic.published}">
                <input id="imageId" type="hidden" name="image"  th:field="*{imageURL}">
            </form>
    </div>
</div>


</body>
</html>
<script>
    var savedPng= [];
    var zwibblerContext;
    function MyFunction(ctx) {
        // ctx is actually a Zwibbler context, with functions
        // like getPageCount() and save() and useBrushTool(). But
        // you can extend it.

        // Add an additional function to call here.
        zwibblerContext=ctx;
        ctx.createComic = function() {

            var numPages = ctx.getPageCount();
            var email=document.getElementById("emailId").value;
            var seriesName=document.getElementById("addAs").value;
            var chapterName=document.getElementById("inputTitle").value;
            var publish;
            if (document.getElementById("makePublic").checked) {
                publish = 1;
            } else if (document.getElementById("makePrivate").checked) {
                publish = 0;
            }

            //save drawing image
            for(var i = 0; i < numPages; i++) {
                ctx.setCurrentPage(i);
                savedPng.push( ctx.save("png"));
            }
            //save upload image

            //upload to controller
            var editing=document.getElementById("editing").value;
            if (editing === "false") {
                document.getElementById("id").value = 0;
            }
            document.getElementById("ownerId").value=email;
            document.getElementById("titleId").value=chapterName;
            document.getElementById("seriesId").value=seriesName;
            document.getElementById("imageId").value=savedPng;
            document.getElementById("published").value=publish;
            document.getElementById("createSeriesFormId").submit();

        };
        ctx.uploadImage=function(){
            var imageupload=document.getElementById("newComicInputFile").files[0];
            var imageuploadurl= '';
            var reader=new FileReader();
            reader.readAsDataURL(imageupload);
            reader.onload=function(){
                imageuploadurl = this.result;
                console.log(imageuploadurl);
                ctx.beginTransaction();
                var nodeId = ctx.createNode("ImageNode", {
                    url:imageuploadurl});
                ctx.translateNode(nodeId, 100, 100);
                ctx.commitTransaction();

            }
        };
        ctx.loadComic=function() {
            var editing=document.getElementById("editing").value;
            if (editing === "true") {
                var comicId = document.getElementById("comicId").value;
                var comicTitle = document.getElementById("comicTitle").value;
                var comicSeries = document.getElementById("comicSeries").value;
                var comicPublished = document.getElementById("comicPublished").value;
                var blobArray = document.getElementsByName("blobArray");

                document.getElementById("id").value = comicId;
                document.getElementById("inputTitle").value = comicTitle;
                document.getElementById("addAs").value = comicSeries;
                if (comicPublished == 0) {
                    document.getElementById("makePrivate").checked = true;
                } else if (comicPublished == 1) {
                    document.getElementById("makePublic").checked = true;
                }
                for (var j = 1; j < blobArray.length; j++) {
                    ctx.insertPage(0);
                }
                for (var i = 0; i < blobArray.length; i++) {
                    ctx.setCurrentPage(i);
                    var imageuploadurls = blobArray[i].value;
                    console.log(imageuploadurls);
                    ctx.beginTransaction();
                    var nodeId = ctx.createNode("ImageNode", {
                        url: imageuploadurls
                    });
                    ctx.translateNode(nodeId, 100, 100);
                    ctx.commitTransaction();
                }
                ctx.setCurrentPage(0);
            }
        }
    }

    window.onload = function () {
        zwibblerContext.loadComic();
    }

</script>