<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width = device-width, initial-scale = 1">

<title>Fill in the Blanks - Toonavy4U</title>

<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/myStyle.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

    <div id="header"></div>    
    <script>
        $(function(){ $("#header").load("Toolbar.html") });
    </script>
    <br>
    <div class="container">
        <div class="row">
            <h3>Fill in the Blanks</h3>

        </div>
        <div class="row">
            <h5 th:text="${title}">Week 1</h5>
        </div>
        <div class="jumbotron bg-secondary text-center mt-5 mb-5">
            <div class="row">
                <div class="col-12">
                    <h6>What should they say? <br>Write your suggestions in the comment section below!</h6>
                </div>
                <div class="col-12">
                    <img class="img-fluid" th:src="${image}" src="../static/images/fillinthumb.jpg">
                </div>
            </div>
            
        </div>
        <!--rate and share-->
        <div class="row jumbotron bg-secondary">
            
            <!--Comments-->    
            <div id="top3comments">
                <div class="col-12">
                    <h5>TOP 3</h5>
                </div>
                <div class="col-12">
                    <span class="col-1" style="color:gold">
                    <i class="fas fa-crown"></i>1
                    </span>
                    <span class="col-4" th:text="${#lists.size(comments) > 0} ? ${#strings.substringBefore(comments[0].owner,'@')}"></span>
                    <span class="col-7" th:text="${#lists.size(comments) > 0} ? ${comments[0].body}"></span>
                    
                </div>
                <div class="col-12 my-2">
                    <span class="col-1" style="color:silver">
                    <i class="fas fa-crown"></i>2
                    </span>
                    <span class="col-4" th:text="${#lists.size(comments) > 1} ? ${#strings.substringBefore(comments[1].owner,'@')}"></span>
                    <span class="col-7" th:text="${#lists.size(comments) > 1} ? ${comments[1].body}"></span>
                    
                
                </div>
                <div class="col-12">
                    <span class="col-1" style="color:#cd7f32">
                    <i class="fas fa-crown"></i>3
                    </span>
                    <span class="col-4" th:text="${#lists.size(comments) > 2} ? ${#strings.substringBefore(comments[2].owner,'@')}"></span>
                    <span class="col-7" th:text="${#lists.size(comments) > 2} ? ${comments[2].body}"></span>
                    
                
                </div>
            </div>
            <div class="col-12 mt-3">
                <h5>Comments</h5> 
            </div>
            <div class="col-12" th:each="c: ${comments}">
                <a href="#"th:href="'Profile?profileEmail=' + ${c.owner}">
                  <span class="col-4" th:text="${#strings.substringBefore(c.owner,'@')} + ' :'"></span>
                </a>
                  <span class="col-8" th:text="${c.body}"></span>
                  <a  class="btn btn-primary ml-3" th:text="${likesOrnot[cStat.index]}?'Like '+${likesNum[cStat.index]}:'Unlike '+${likesNum[cStat.index]}" th:href="'Voted?commends=' + ${c.id}"  th:classappend="${#authorization.expression('isAuthenticated()')} ? enabled : disabled"></a>
            </div>
            <form id="commentForm" action="#" th:action="@{/makeSuggestion}" th:object="${post}" method="post">
                <input id="ownerId" type="hidden" name="owner"  th:field="*{comment.owner}">
                <input id="bodyId" type="hidden" name="body"  th:field="*{comment.body}">
                <input id="comicId" type="hidden" name="comic"  th:field="*{comment.comic}">
            </form>
            <div class="col-12">
                <div class="form-group col-12">
                    <label for="newCommentDescription">Write a comment</label>
                    <textarea class="form-control" id="newCommentDescription" rows="3"></textarea>
                    <input id="viewerId" type="hidden" name="viewer"  th:value="${viewer}">
                    <input id="comic" type="hidden" name="viewer"  th:value="${comicId}">
                </div>
            </div>
            <div class="col-12">
                <button type="button" onclick="makeComment()" class="btn btn-link float-right"
                        th:classappend="${#authorization.expression('isAuthenticated()')} ? enabled : disabled"
                        th:text="${#authorization.expression('isAuthenticated()')} ? 'Submit' : 'You Must Be Logged In to Make Comments'">Submit</button>
            </div>
        </div>
        <br>
    </div>
</body>
</html>
<script>
    function makeComment() {
        var owner=document.getElementById("viewerId").value;
        var comic=document.getElementById("comic").value;
        var body=document.getElementById("newCommentDescription").value;

        if (body.trim().length > 0) {
            document.getElementById("ownerId").value = owner;
            document.getElementById("bodyId").value = body;
            document.getElementById("comicId").value = comic;

            document.getElementById("commentForm").submit();
        }
    }
    function alartLogin() {
        alart.alart("LogIn first please");
    }

</script>

