<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width = device-width, initial-scale = 1">

<title>Welcome to Toonavy4U</title>

<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/myStyle.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>    
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div id="header"></div>    
    <script>
        $(function(){ $("#header").load("Toolbar.html") });
    </script>
    <br>
    <div class="container">
        <div class="row">
            <!--Popular Comics-->
            <div class="jumbotron bg-secondary col-12 mb-5">
                <h3><a href="#popContent" data-toggle="collapse">Popular Comics</a></h3>
                <div class="row comiclist collapse show" id="popContent">
                    <div th:each="s,iterStat:${popular}" class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <a href="#" th:href="'ViewSeries?seriesId='+${s.id}">
                            <img class="img-fluid img-thumbnail" src="images/thumbnail2.jpg" th:src="${imageURLs[iterStat.index]}">
                            <h5 th:text="${s.title}">Title</h5>
                        </a>
                        <a href="#" th:href="'Profile?profileEmail='+${s.owner}">
                            <p class="username" th:text="${#strings.substringBefore(s.owner,'@')}">by username123</p>
                        </a>
                    </div>

                    
                    
                </div>
            </div>
        
            <!--Fill in the blanks part-->
            <div class="jumbotron bg-secondary col-12">
                <h3>This Week's Fill in the Blanks!</h3>
                <br>
                <div class="text-center">
                    <img class="img-fluid" src="images/fillinthumb.jpg" />
                </div>
                <br>
                <h4>Top Comments</h4>
                
            </div>
        </div>
    </div>
    
    
    
    
    
    
    
    


</body>
</html>
