<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Main Page Test</h1>

<form action="#" th:action="@{/index}" th:object="${post}" method="post">
    <p>username: <input type="text" th:field="*{username}" /></p>
    <p>password: <input type="text" th:field="*{password}" /></p>

    <p><input type="submit" value="Log In" /> <input type="reset" value="Create Account" /></p>
</form>
    
    <!--links for mockups-->
    <h1>Links to mockup pages</h1>
    <ul>
        <li>
            <a href="Front.html">Front.html</a></li>
        <li>
            <a href="Create.html">Create.html</a></li>
        <li>
            <a href="Profile.html">Profile.html</a></li>
        <li>
            <a href="View.html">View.html</a></li>
        <li>
            <a href="CreateSeries.html">CreateSeries.html</a></li>

    </ul>
    
</body>
</html>