<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width = device-width, initial-scale = 1">

<title>Welcome to Toonavy4U</title>

<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/myStyle.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div id="header"></div>    
    <script>
        $(function(){ $("#header").load("Toolbar.html") });
    </script>
   <br>
    <div class="container">
        
        <div class ="row jumbotron bg-secondary">
            <div class="col-md-4 col-12 text-center mb-2">
                <!--series thumbnail-->
                <img class="img-fluid" src="images/thumbnail2.jpg" th:src="${imageURL}">
            </div>
            <div class="col-md-8 col-12">
                <h3 th:text="${series.title}">My Series 1</h3>
                <a href="#">
                    <p class="username" th:text="${#strings.substringBefore(series.owner,'@')}">by username333</p>
                </a>
                <p th:text="'Genre:' + ${categories}">Genre:</p>
                <p>Average Rating:</p>
                <button type="button" class="btn btn-danger">Subscribe</button><button type="button" class="btn btn-danger d-none">Unsubscribe</button> <!--Unsubscribe button hidden with class d-none-->
            </div>
        </div>
        <div class="row jumbotron bg-secondary">
            <div class="col-12">
                <h5>Description</h5>
            </div>
            <div class="col-12">
                <p th:text="${series.description}">description description description description description description description description description description description description
                </p>
            </div>
        </div>

        <div class="row jumbotron bg-secondary">
            <div class="col-12">
                <h5>Chapters</h5>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Released</th>
                  <th scope="col">Title</th>
                  <th scope="col">Rating</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-secondary" th:each="c: ${comics}">
                  <th scope="row" th:text="${c.created}">1</th>
                  <td><a th:text="${c.title}" th:href="'ViewComic?comicId=' + ${c.id}"></a></td>
                  <td>0.0</td>
                  <td>
                      <form action="#" th:action="@{/Create.html}" th:object="${post}" method="post">
                          <input th:id="id + ${c.id}" type="hidden" name="comic" th:field="*{comic.id}">
                          <input th:type="${editable} ? 'submit' : 'hidden'" value="Edit">
                      </form>
                      <script th:inline="javascript">/*<![CDATA[*/ /*[+ document.getElementById([['id' + ${c.id}]]).value=[[${c.id}]]; +]*/ /*]]>*/</script>
                  </td>
                </tr>
              </tbody>
            </table> 
        </div>
               
    </div>
             
    
    


</body>
</html>
